body{
    margin-top: 30px;
    margin-left: 40px;
}

.ic-close-login img{
    position: absolute;
    height: 40px;
    width: 40px;
    right: 30px;
    top: 30px;

}
.greetings h1{
    margin-left: 5%;
    margin-top: 70px;
    font-size: 32px;
    color: #619495;
}

.greetings h2{
    text-align: center;
    margin-top: 40px;
    size: 24px;
    color: #2C3C3B;
    margin-bottom: 10px;
}

form{
    margin-top: 10%;
    color: #619495;
    margin: 0 20%;
    width: 80%;
}

#form-password, #form-email{
    width: 80%;
    max-width: 800px;
    min-width: 200px;
    margin-bottom: 20px;
    border-radius: 5px;
    border-color: #619495;
    color: #2C3C3B;
    padding: 10px 5px;
    box-shadow: #2C3C3B;
    border-style: solid;
}

.bt-login{
    width: 20%;
    margin: auto 30%;
    background-color: #2C3C3B;
    color: white;
    border-radius: 10px;
    padding: 5px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 50px;
  }

#division-login img{
    width: 80%;
    margin: auto;
    display: block;
}

input::placeholder {
    color: #619495;
  }

#divicion-login{
    margin-bottom: 10%;
}

#google-login{
    margin-left: 4.35%;
    padding-top: 50px;
    display: flex;
    justify-content: center;
}
