@font-face{
    font-family: Pacifico-Regular;
    src: url("Pacifico-Regular.ttf");
}

.principal body{
    margin: auto;
    width: 960px;
}

.searching body{
    margin: auto;
    width: 960px;
}

header{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    background-color: #312f30;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.subdiv{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    padding: 40px;
}

.subdiv .txt{
    padding-top: 23px;
    text-align: center;
}

header li{
    display: inline-block;
    margin: 5px;
    padding: 5px;
    padding-right: 15px;
    color:#95d654;
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

li:hover{
    color: #e0f8fc;
    transition: 3ms;
}

.map li:hover{
    color: #b69492;
}

.nav img{
    margin-top: 10px;
    width: 110px;
    height: 60px;
}

.subdiv img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.cowbow img{
    width: 245px;
    height: 332px;
}

.cards img{
    width: 200px;
    height: 175px;
    border-style:double;
    border-color:#203b22;
}

.image img{
        margin-top: 18px;
        padding-top: 8px;
        width: 200px;
        height: 100px;
}

.socials img{
    width: 140px;
    height: 40px;
}

.sales{
    display: flex; 
    flex-direction:row;
    justify-content:space-between;  
    margin-right: 16px;
}

.card-body{
    padding: 12px;
    width: 200px;
    height: 150px;
    text-align: center;
    color: #192f1b;
    border-style:double;
    border-color:#203b22;
    border-top: none;
    background-color:white;
}

.business{
    background-color: #192f1b;
    color: white;
    padding-bottom: 90px;
    padding-top: 80px;
    padding-right: 20px;
    margin-left: 25px;
    text-align: center;
    height: 332px;
}

.info-body{
    background-color:#203b22;
    color:#e0f8fc;
    font-size: 23px;
    padding: 30px;
}

.map{
    background-color:#312f30;
    display: flex; 
    flex-direction:row;
    justify-content: space-around;
    padding-top: 70px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 40px;
}

.agro{
    border-right: solid;
    border-color:#b69492;
    padding-right: 50px;
    padding-top: 15px;
}

.suport{
    border-right: solid;
    border-color:#b69492;
    padding-right: 50px;
    padding-top: 15px;
}

.carousel-inner h2{
    margin-bottom: 2px;
    font-size: 3rem;
    color: #e0f8fc;
}

.carousel-inner p{
    font-size: 3rem;
    font-family: Pacifico-Regular;
    color: #95d654;
    margin-bottom: 20px;
}

.principal h3{
    padding-top: 40px;
    color: #192f1b;
}

.sales h4{
    position: absolute;
    margin: 3px;
    padding: 5px;
    font-size: 1rem;
    color: #e0f8fc;
    background-color: #95d654;
}

.info h5{
    margin-bottom: 0px;
    color: #95d654;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 15px;
    background-color:#203b22;
    font-size: 2rem;
}

.cards h5{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.map h5{
    color: #b69492;
    padding-left: 32px;
}

.map a{
    text-decoration: none;
    list-style-type: none;
    color: #e0f8fc;
}

.cards a{
    color:#192f1b;
    text-decoration-line: none;
}

.cards a:hover{
    color:#95d654;
}

.centro{
    text-align: center;
    background-color: #b69492;
    padding: 10px;
}

.socials{
    padding-left: 480px;
    background-color: #312f30;
    padding-bottom: 20px;
}

#perf img{
    width: 45px;
    height: 45px;
}

#perf a{
    color:#95d654;
}

.dropdown-item:hover{
    background-color:#203b22;
    border-radius: 20px;
}

#pitch{
    border-radius: 10px;
    width: 430px;
    height: 45px;
    text-align:left;
    padding-left: 10px;
}

#buttonP{
    border-radius: 10px;
    height: 45px;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #192f1b;
    color: #e0f8fc;
    border-color: #192f1b;
}

#buttonP:hover{
    background-color: #01f81621;
    transition: 3ms;
}

#marketplace{
    background-image: url(../Images/Fundo.jpg);
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 20px;
    height: 530px;
}

#box{
    border: solid;
    border-color: #95d654;
    margin-top: 70px;
    margin-left: 16px;
    background-color: #192f1b;
}

#buttonC{
    background-color: #95d654;
    height: 50px;
    width: 50px;
    margin-top: 250px;
    border-radius: 100%;
    margin-left: 5px;
}

#buttonC:hover{
    transition: 3ms;
}

#buttonC2{
    background-color: #95d654;
    height: 50px;
    width: 50px;
    margin-top: 250px;
    margin-right: 6px;
    border-radius: 100%;
    margin-left: 5px;
}

#buttonC2:hover{
    transition: 3ms;
}

#buttonC3{
    background-color: #95d654;
    height: 25px;
    width: 25px;
    margin-top: 140px;
    border-radius: 100%;
    margin-left: 100px;
}

#buttonC3:hover{
    transition: 3ms;
}

#buttonC4{
    background-color: #95d654;
    height: 25px;
    width: 25px;
    margin-top: 140px;
    margin-right: 100px;
    border-radius: 100%;
    margin-left: 5px;
}

#buttonC4:hover{
    transition: 3ms;
}

#buttonD{
    background-color:#e0f8fc;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    margin-left: 5px;
}

#buttonD:hover{
    background-color: #01f81621;
    transition: 3ms;
}

#button{
    background-color: #95d654;
    margin-left: 445px;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 12px;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-color: #192f1b;
}

#button:hover{
    background-color: #01f81621;
    transition: 3ms;
}

#button3{
    background-color: #95d654;
    margin-bottom: 26px;
    border-radius: 18px;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    border-color: #192f1b;
}

#button3:hover{
    background-color: #01f81621;
    transition: 3ms;
}

#button4{
    background-color: #95d654;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 218px;
    border-radius: 12px;
    padding-left: 20px;
    padding-right: 20px;
    border-color: #192f1b;
    padding: 8px;
}

#button4:hover{
    background-color: #192f1b;
    transition: 3ms;
}

#name{
    text-align: center;
    font-size: 3rem;
    padding: 30px;
    padding-top: 40px;
    font-family: Pacifico-Regular;
    color: #95d654;
}

.loupe{
    background-image: url(../Images/Fundo1.jpg);
    width: 960px;
    margin: auto;
    height: 1050px;
}

.loupe2{
    background-image: url(../Images/Fundo1.jpg);
    width: 960px;
    margin: auto;
    padding-bottom: 30px;
}

.find img{
    width: 50px;
    border-radius: 50px;
}

.searching form{
    display: flex;
    justify-content:center;
    padding-left: 200px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.principal form{
    display: flex;
    justify-content:center;
    padding-left: 200px;
    padding-top: 12px;
    padding-bottom: 2px;
}

.sell{
    display: flex; 
    flex-direction:row;
    justify-content:space-between;  
    margin-right: 23px;
    padding: auto;
    padding-top: 50px;
    padding-bottom: 55px;
}

.sell h4{
    position: absolute;
    margin: 3px;
    padding: 5px;
    font-size: 1rem;
    color: #e0f8fc;
    background-color: #95d654;
}

#buttonS{
    width: 55px;
    height: 55px;
    border-radius: 50px;
    background-image: url(../Images/Basic.jpg);
    margin-right: 200px;
    border: none;
}

#buttonS:hover{
    background-image: url(../Images/Color.jpg);
    border: none;
}

#buttonSS{
    width: 55px;
    height: 55px;
    border-radius: 50px;
    background-image: url(../Images/Basics.jpg);
    border: none;
}

#buttonSS:hover{
    background-image: url(../Images/Colors.jpg);
    border: none;
}

#buttonR{
    background-color: #95d654;
    margin-bottom: 6px;
    border-radius: 26px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-color: #192f1b;
    width: 90px;
    font-size: 12px;
}

#buttonR:hover{
    background-color: #01f81621;
    transition: 3ms;
}

#btnR{
    padding-top: 2px;
    padding-right: 50px;
}

#find-text{
    font-size: 16px;
    background-color: #e2e2e2;
    height: 55px;
    border-radius: 40px;
    padding-left: 20px;
    border: none;
    outline: none;
    width: 0;
}

#find1-text{
    font-size: 16px;
    background-color: #312f30;
    height: 55px;
    border-radius: 40px;
    padding-left: 20px;
    border: none;
    outline: none;
    width: 0;
}

#find-text:hover{
    width: 360px;
    transition: 0.5s;
    border:ridge;
    border-color:#95d654;
    background-color: #e2e2e2;
    color: #203b22;
}

#find1-text:hover{
    width: 360px;
    transition: 0.5s;
    border:ridge;
    border-color:#95d654;
    background-color: #e2e2e2;
    color: #203b22;
}

#nameA, #nameB, #nameC, #nameD{
    color: #95d654;
    padding-top: 25px;
    padding-bottom: 10px;
}

#img1 img{
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 40px;
    width: 600px;
    margin-left: 168px;
}

#p1{
    padding-bottom: 40px;
}

#p2{
    padding-bottom: 135px;
}

#box:hover{
    box-shadow:2px 4px 1px 1px rgba(0, 0, 0, 0.2);
}

.searching .cards{
    margin-left: 20px;
}

.searching .cards:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    box-shadow:2px 4px 1px 1px rgba(0, 0, 0, 0.2);
}

.principal .cards:hover{
    box-shadow:2px 4px 1px 1px rgba(0, 0, 0, 0.2);
}

.result{
    background-color:#203b22;
    width: 90%;
    margin-top: 20px;
    margin: auto;
    border-radius: 20px;
    border: solid;
    border-color: #95d654;
    margin-top: 20px;
    color: #e0f8fc;
}

.result:hover{
    box-shadow:2px 4px 1px 1px rgba(0, 0, 0, 0.2);
}

td{
    text-align: center;
    padding-left: 82px;
    padding-top: 1px;
    position: relative;
}

.paper img{
    width: 90px;
    height: 90px;
    margin-top: 1px;
    margin-left: 1px;
    border-radius: 30px;
    position: absolute;
}

.pencil img{
    width: 80px;
    height: 80px;
    margin-left: 740px;
    border-radius: 30px;
    position: absolute;
    margin-top: 5px;
}