@font-face{
    font-family: Pacifico-Regular;
    src: url("Pacifico-Regular.ttf");
}

.principal body{
    margin: auto;
    width: 960px;
}

.principal header{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #312f30;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.principal header li{
    display: inline-block;
    margin: 10px;
    padding: 5px;
    padding-right: 15px;
    color:#e0f8fc;
}

.principal li:hover{
    color: white;
    transition: 3ms;
}

.nav img{
    padding-top: 8px;
    width: 100px;
    height: 50px;
}

.cowbow img{
    width: 245px;
    height: 321px;
    padding-top: 40px;
}

.cards img{
    width: 210px;
    height: 180px;
    padding-top: 20px;
    border-color: #192f1b;
}

.image img{
        margin-top: 18px;
        padding-top: 8px;
        width: 200px;
        height: 100px;
}

.carousel-inner h2{
    margin-bottom: 2px;
    font-size: 3rem;
}

.carousel-inner p{
    margin-bottom: 88px;
    font-size: 3rem;
    font-family: Pacifico-Regular;
    color: #95d654;
}

.sales{
    display: flex; 
    flex-direction:row;
    justify-content:space-around;
}

.card-body{
    padding: 12px;
    width: 210px;
    text-align: center;
    color: #192f1b;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
}

.business{
    background-color: #192f1b;
    color: white;
    padding-bottom: 71px;
    margin-top: 40px;
    padding-top: 54px;
    padding-right: 20px;
    text-align: center;
}

.principal h3{
    padding-top: 35px;
}

.info h5{
    margin-bottom: 0px;
    color: #01f816;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 15px;
    background-color: #192f1b;
}

.info-body{
    background-color: #192f1b;
    color: white;
    padding: 30px;
    padding-left: 160px;
    height: 370px;
    background-image: linear-gradient(to bottom, #192f1b, #192f1b, #203b22);
}

.map{
    background-color:#312f30;
    display: flex; 
    flex-direction:row;
    justify-content:space-around;
    padding: 70px;
}

.map h5{
    color: #b69492;
    padding-left: 32px;
}

.map a{
    text-decoration: none;
    list-style-type: none;
    color: #e0f8fc;
}

.centro{
    text-align: center;
    background-color: #b69492;
    padding: 10px;
}

#buttonC{
    background-color: #01f816;
    height: 50px;
    width: 50px;
    margin-top: 250px;
    border-radius: 100%;
    margin-left: 5px;
}

#buttonC:hover{
    background-color: #01f81621;
    transition: 3ms;
}

#buttonC2{
    background-color: #01f816;
    height: 50px;
    width: 50px;
    margin-top: 250px;
    margin-right: 6px;
    border-radius: 100%;
    margin-left: 5px;
}

#buttonC2:hover{
    background-color: #01f81621;
    transition: 3ms;
}

#button{
    background-color: #01f816;;
    margin-left: 350px;
    margin-bottom: 30px;
    border-radius: 12px;
    padding-left: 20px;
    padding-right: 20px;
    border-color: #192f1b;
}

#button:hover{
    background-color: #01f81621;
    transition: 3ms;
}

#button2{
    background-color: #01f816;;
    margin-bottom: 30px;
    border-radius: 12px;
    padding-left: 20px;
    padding-right: 20px;
    border-color: #192f1b;
}

#button2:hover{
    background-color: #192f1b;
    transition: 3ms;
}

#button3{
    background-color: #01f816;;
    margin-bottom: 30px;
    border-radius: 12px;
    padding-left: 20px;
    padding-right: 20px;
    border-color: #192f1b;
}

#button3:hover{
    background-color: #01f81621;
    transition: 3ms;
}

#button4{
    background-color: #01f816;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 220px;
    border-radius: 12px;
    padding-left: 20px;
    padding-right: 20px;
    border-color: #192f1b;
}

#button4:hover{
    background-color: #192f1b;
    transition: 3ms;
}