@font-face{
    font-family: Pacifico-Regular;
    src: url("Pacifico-Regular.ttf");
}

.principal-quiz body{
    margin: auto;
    width: 960px;
}

header{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    background-color: #312f30;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

header li{
    display: inline-block;
    margin: 5px;
    padding: 5px;
    padding-right: 15px;
    color:#95d654;
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

li:hover{
    color: #e0f8fc;
    transition: 3ms;
}

.nav img{
    margin-top: 10px;
    width: 110px;
    height: 60px;
}

.centro{
    text-align: center;
    background-color: #b69492;
    padding: 10px;
}

#perf img{
    width: 45px;
    height: 45px;
}

#perf a{
    color:#95d654;
}

.dropdown-item:hover{
    background-color:#203b22;
    border-radius: 20px;
}

#name{
    text-align: center;
    font-size: 3rem;
    padding: 30px;
    padding-top: 40px;
    font-family: Pacifico-Regular;
    color: #95d654;
}

.principal-quiz form{
    display: flex;
    justify-content:center;
    padding-left: 200px;
    padding-top: 12px;
    padding-bottom: 2px;
}

#buttonSS{
    width: 55px;
    height: 55px;
    border-radius: 50px;
    background-image: url(../Images/Basics.jpg);
    border: none;
}

#buttonSS:hover{
    background-image: url(../Images/Colors.jpg);
    border: none;
}

#find1-text{
    font-size: 16px;
    background-color: #312f30;
    height: 55px;
    border-radius: 40px;
    padding-left: 20px;
    border: none;
    outline: none;
    width: 0;
}

#find1-text:hover{
    width: 360px;
    transition: 0.5s;
    border:ridge;
    border-color:#95d654;
    background-color: #e2e2e2;
    color: #203b22;
}

/* Quiz */

.principal-quiz h2{
    font-size: 18px;
}

.principal-quiz a{
    color: gray;
    text-decoration: none;
    transition: 0.2s;
}

main{
    background: url("../Images/bg-leafs.svg") no-repeat center center;
    background-size: cover;
    height: 145vh;
    margin: auto;
    width: 960px;
}

.mainC{
    background: url("../Images/bg-leafs.svg") no-repeat center center;
    background-size: cover;
    height: 120vh;
    margin: auto;
    width: 960px;
}

.container{
    font-family: 'Poppins', sans-serif;
    height: 138vh;  
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    border-radius: 15px;  
    width: 50%;
    text-align: center;
}

.containerC{
    font-family: 'Poppins', sans-serif;
    height: 100vh;  
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    border-radius: 15px;  
    width: 50%;
    text-align: center;
}

.container img, .containerC img{
    width: 90%;
    height: 280px;
    align-items: center;
    border: solid;
    border-color: #95d654;
}


.respostas{
    font-family: 'Poppins', sans-serif;
    list-style-type: none;
    background-color:white;
    border:rgba(10, 10, 10, 0.582);
    border-style:inset;
    padding: 15px;
    width: 95%;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}

.respostas:hover{
    background-color:#203b22;
    border:#95d654;
    border-style: outset;
    color: white;
}

.centro1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color:#203b22;
    font-weight: bold;
    padding: 8px;
    font-size: 18px;
    margin-bottom: 20px;
    width: 90%;
    margin-left: 5%;
}

.texto{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color:#203b22;
    padding: 8px;
    font-size: 18px;
    margin-bottom: 20px;
    width: 90%;
    margin-left: 5%;
}


.bloqueado{
    display: none;
}

.bloqueado:hover{
    display: none;
}

.questoes{
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
}

#but, #butt{
    background-color: white;
    margin-bottom: 26px;
    border-radius: 15px;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    border-color: #192f1b;
    color: black;
}

#send{
    background-color: white;
    margin-left: 0;
    margin-bottom: 2px;
    border-radius: 15px;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    border-color: #192f1b;
    color: black;
}

#but:hover, #butt:hover, #send:hover{
    background-color: #203b22;
    color: white;
}

#pro{
    background-color:#203b22;
}

#city-text{
    border-radius: 10px;
    height: 45px;
    padding-left: 20px;
    width: 75%;
    border: solid;
    border-color: #95d654;
}

#cit{
    margin-right: 34%;
}

.btns{
    display: flex;
    justify-content: space-around;
}

.btnsC{
    margin-top: 40px;
}

.progress{
    width: 20%;
    margin-left: 40%;
    margin-top: 20px;
}
